.blog-content-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
  overflow: hidden;
  height: 100%;
  overflow: scroll;
}
.blog-heading {
  text-align: center;
  font-size: 5rem;
  color: rgb(8, 95, 8);
}
