*,
*:hover,
*:focus {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  overflow-wrap: break-word;
}
html,
body,
#root,
.App {
  height: -webkit-fill-available;
}
body {
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 62.5%;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* To fix autofill Background-color change */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 5000s;
}
@media (max-width: 768px) {
  .blog-left-side {
    display: none;
  }
  html {
    font-size: 55%;
  }
}
